version: "3.9"

x-db-environment: &x-db-environment
  POSTGRES_SSL_MODE: ${PG_SSLMODE:-disable}
  POSTGRES_HOST: ${PG_HOST:-db}
  POSTGRES_PORT: ${PG_PORT:-5432}
  POSTGRES_DB: ${PG_DATABASE:-goth}
  POSTGRES_PASSWORD: ${PG_PASSWORD:-postgres}
  POSTGRES_USER: ${PG_USER:-postgres}

x-backend-app-environment: &x-backend-app-environment
  # App
  APP_NAME: ${APP_NAME:-goth}
  APP_VERSION: ${APP_VERSION:-1.0.0}
  # HTTP settings
  HTTP_PORT: ${HTTP_PORT:-3000}
  # Logger
  LOG_LEVEL: ${LOG_LEVEL:-debug}
  # Database
  PG_HOST: ${PG_HOST:-db}
  PG_PORT: ${PG_PORT:-5432}
  PG_USER: ${PG_USER:-postgres}
  PG_PASSWORD: ${PG_PASSWORD:-postgres}
  PG_DATABASE: ${PG_DATABASE:-goth}
  PG_SSLMODE: ${PG_SSLMODE:-disable}
  PG_POOL_MAX: ${PG_POOL_MAX:-10}
  # Redis
  REDIS_HOST: ${REDIS_HOST:-redis}
  REDIS_PORT: ${REDIS_PORT:-6379}
  REDIS_PASSWORD: ${REDIS_PASSWORD:-}
  REDIS_DB: ${REDIS_DB:-0}
  # JWT
  JWT_SECRET: ${JWT_SECRET:-secret}
  JWT_ACCESS_EXPIRATION: ${JWT_ACCESS_EXPIRATION:-1h}
  JWT_REFRESH_EXPIRATION: ${JWT_REFRESH_EXPIRATION:-1d}
  # OAuth
  OAUTH_GOOGLE_CLIENT_ID: ${OAUTH_GOOGLE_CLIENT_ID:-your_client_id}
  OAUTH_GOOGLE_CLIENT_SECRET: ${OAUTH_GOOGLE_CLIENT_SECRET:-your_client_secret}
  OAUTH_GOOGLE_REDIRECT_URL: ${OAUTH_GOOGLE_REDIRECT_URL:-http://localhost:3000/v1/auth/google/callback}
  # Swagger
  SWAGGER_ENABLED: ${SWAGGER_ENABLED:-false}

services:
  db:
    container_name: db
    image: postgres:17-alpine
    environment:
      <<: *x-db-environment
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "${PG_PORT:-5432}:5432"
    networks:
      app_network:

  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    networks:
      app_network:

  app:
    container_name: app
    platform: linux/amd64
    pid: "host"
    build:
      context: .
    environment:
      <<: *x-backend-app-environment
    ports:
      - "${HTTP_PORT:-3000}:3000"
    depends_on:
      - db
      - redis
    networks:
      app_network:

  nginx:
    image: nginx:1.27-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      app_network:

networks:
  app_network:
    external: false

volumes:
  db_data:
  redis_data:
